@import "assets/scss/config/fonts";
@import "assets/scss/config/reset";
@import "assets/scss/config/vars";
@import "assets/scss/config/utility";
@import "assets/scss/modules/typography";
@import "assets/scss/modules/fields";
@import "assets/scss/modules/buttons";
@import "assets/scss/modules/toast";
@import "assets/scss/config/global";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
  --pink: #ff74a4;
  --violet: #9f6ea3;
  --lightblack: #515C6F;
  --white: #ffffff;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --lightbshadow: rgba(0, 0, 0, 0.15);
}

.app-author {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.app-container {
  --gap: 15px;
  //display: grid;
  //place-items: center;
  min-height: 100vh;
  background-color: var(--bcs-grey-3);
  padding: 10px;
}

.apis {
  max-width: 900px;
  width: 100%;
  margin: auto;
  display: grid;
  gap: var(--gap);
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 25px 35px rgba(0, 0, 0, 0.03);
  //border-radius: 8px;
  //background-color: #fff;
  //padding: 20px;

  .title {
    text-align: center;
  }

  .content {
    display: grid;
    gap: var(--gap);
  }

  form {
    margin: auto;
    max-width: 400px;
    width: 100%;
    gap: var(--gap);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 25px 35px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
  }

  .result {
    display: grid;
    gap: var(--gap);

    .row {
      display: grid;
      gap: var(--gap);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 25px 35px rgba(0, 0, 0, 0.03);
      border-radius: 8px;
      background-color: #fff;
      padding: 20px;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap);
  }

  .cards {
    display: grid;
    gap: var(--gap);

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    li {
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      background-color: var(--bcs-grey-4);
      transition: all 0.25s ease;

      &:hover {
        background-color: var(--bcs-grey-3);
      }

      a {
        display: grid;
        align-items: flex-start;
        gap: 10px;
        padding: var(--gap);
      }
    }
  }

  button.active {
    background-color: var(--bcp-grey);
    color: #fff;
  }
}
